h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: rgb(153, 61, 148)wavy underline;
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: justify;
    font-weight: lighter;
    line-height: 2;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
}