/**  *{
     background-color: blanchedalmond;
 }
 */

body {
    background-color: #fefae0;
}

button {
    background-color: #dda15e;
    font-size: 30px;
}

h1,
h2 {
    color: #bc6c25;
}

#search {
    background-color: #606c38;
    color: #a8dadc;
}

span {
    color: #79a6ce;
}

.tag {
    background-color: #bde0fe;
    color: #9d6abb;
    font-size: px;
}

.post a {
    color: #e9edc9;
}

li a {
    color: #fb8500;
}

input+button {
    background-color: pink;
}

h2+button {
    font-size: 20px;
    background-color: aquamarine;
}

footer>a {
    color: #adc178;
}

input[type="password"] {
    width: 300px;
    color: rgb(62, 119, 71);
    background-color: burlywood;
}
/* pseudo classes*/
button:hover {
    background-color: red;
    color: seashell;
}

a:hover {
    text-transform: uppercase;
}

button:active {
    background-color: blue;
}
/* pseudo elements*/
h2::first-letter{
    font-size: larger;
}
::selection{
    background-color: cadetblue;
}