h1 {
    color: rgb(9, 151, 151);
}

h2 {
    color: lightblue;
}

button {
    color: magenta;
}

P {
    color: mediumblue;
    background-color: rgb(231, 228, 218);
}

body {
    background-color: lavenderblush;
}