
span{
    background-color: rgb(238, 136, 18);
    width: 200px;
    height: 200px;
    padding: 30px;
    /*como podemos ver al hacer esto altera 
    el padding pero no alteramos el ancho
     ya que tiene la propiedad inline*/
}
h1{
    background-color: aquamarine;
    border:1px solid black;
    width: 200px;
    height: 200px;
    margin: 100px;
    padding: 100px;
    /*en este caso se respetan el ancho alto margen y padiding  */
}
div{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 5px black solid;
    display: inline-block;
}